<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</head>
	<body>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.5.5/angular.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<div ng-controller="StoreController as store">
			<div ng-repeat="product in store.products">
				<h1>{{product.name}}</h1>
				<h2>{{product.price|currency}}</h2>
				<p>{{product.description}}</p>
				<div class="gallery" ng-show="product.images.length > 0">
					<img class="img img-circle img-thumbnail center-block" ng-src="{{product.images[0]}}" />
					<ul class="clearfix">
						<li class="small-image pull-left thumbnail" ng-repeat="image in product.images"> <img ng-src="{{image}}" /> </li>
					</ul>
				</div>
				<button ng-show="product.canSold">Add Cart</button>
			</div>
		</div>
	</body>
</html>